
{% extends "base.html" %}
{% load static %}
{% block title %} {{page_name}} {% endblock %}
{% block content %}
<div class="about-project">
  <h2>Тестовий проект для abz.agency </h2>
  <div class="github-link"><i class="fab fa-github fa-2x"></i><a href="https://github.com/shudry/abz.agency.test">https://github.com/shudry/abz.agency.test</a></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est praesentium illum corporis dolor soluta non laudantium sequi modi commodi quo numquam, doloremque, tempora officia inventore repellat recusandae voluptatibus. Distinctio. </p>
</div>
<div class="container-workers">
  <div class="header row">{% if request.user.is_authenticated %}
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p>Name</p>
    </div>
    <div class="col-md-2">
      <p>Work Position</p>
    </div>
    <div class="col-md-2">
      <p>Wage</p>
    </div>
    <div class="col-md-2">
      <p>Date Join</p>
    </div>
    <div class="col-md-2">
      <p>Id</p>
    </div>{% else %}
    <div class="col-md-3"> 
      <p></p>
    </div>
    <div class="col-md-3"> 
      <p>Name</p>
    </div>
    <div class="col-md-3"> 
      <p>Work Position</p>
    </div>
    <div class="col-md-3"> 
      <p>Id</p>
    </div>{% endif %}
  </div>
  <div id="not-found-employees-warning" class="employee load-more-empl">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-10">
        <div role="alert" class="row alert alert-warning text-center"> 
          <div class="col-md-1"><i class="fas fa-exclamation fa-2x"></i></div>
          <div class="col-md-11">Не знайдено жодного працівника. Будь ласка, заповніть базу робітниками або виконайте:<br/><b>./manage.py seed_workers -w ...</b></div>
        </div>
      </div>
    </div>
  </div>
</div>{% endblock content %}
{% block right_panel %}
{% if request.user.is_authenticated %}
<div class="is-authenticated-block row">
  <div class="col-lg-2 employee-image-admin"><i class="fas fa-user-tie fa-2x"></i></div>
  <div class="col-lg-7">{% if request.user.is_superuser %}
    <h5 class="name">{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</h5>
    <p>Адміністратор</p>{% endif %}
  </div>
  <div class="col-lg-3 block-icon-logout"><a href="/logout/"><i class="fas fa-sign-out-alt fa-2x"></i></a></div>
</div>
<div class="form-group right_panel_form">
  <label for="search-by-name-field">Пошук за назвою ( name1 | name2 | ... )</label>
  <input type="text" placeholder="Пошук" id="search-by-name-field" class="form-control"/>
  <select class="custom-select">
    <option selected="selected">Сортувати ...</option>
    <option value="1">За алфавітом</option>
    <option value="2">Спочатку новіші</option>
    <option value="3">Спочатку старіші</option>
    <option value="4">Спочатку найбільша зарплата</option>
    <option value="5">Спочатку найменша зарплата</option>
  </select>
</div>{% else %}
<div class="signed-block row">
  <form action="/login/" method="POST">
    {% csrf_token %}
    {% if error_login %}
    <div role="alert" class="alert alert-danger">{{ error_login }}</div>{% endif %}
    <div class="form-group">
      <label for="login-field">Введіть логін:</label>
      <input type="text" name="username" id="login-field" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="password-field">Введіть пароль:</label>
      <input type="password" name="password" id="password-field" class="form-control"/>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <button type="submit" class="btn btn-default">Відправити</button>
      </div>
    </div>
  </form>
</div>{% endif %}
{% endblock right_panel %}