
{% extends "base.html" %}
{% load static %}
{% block title %} {{page_name}} {% endblock %}
{% block content %}
<h2>Test project for abz.agency</h2>
<div class="container-workers">
  <div class="header row">
    <div class="col-md-3"> 
      <p>Img</p>
    </div>
    <div class="col-md-3"> 
      <p>Name</p>
    </div>
    <div class="col-md-3"> 
      <p>Work Position</p>
    </div>
    <div class="col-md-3"> 
      <p>Chief</p>
    </div>
  </div>
</div>{% endblock content %}
{% block right_panel %}
<h4>Its a right panel. Registration, signed or more.</h4>{% endblock right_panel %}