
{% extends "base.html" %}
{% load static %}
{% block title %} {{page_name}} {% endblock %}
{% block content %}
<div class="about-project">
  <h2>Тестовий проект для abz.agency </h2>
  <ul>
    <li>
      <p>GitHub - <a href="https://github.com/shudry/shudry-test-project">https://github.com/shudry/shudry-test-project</a></p>
    </li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est praesentium illum corporis dolor soluta non laudantium sequi modi commodi quo numquam, doloremque, tempora officia inventore repellat recusandae voluptatibus. Distinctio. </p>
</div>
<div class="container-workers">
  <div class="header row">
    <div class="col-md-3"> 
      <p></p>
    </div>
    <div class="col-md-3"> 
      <p>Name</p>
    </div>
    <div class="col-md-3"> 
      <p>Work Position</p>
    </div>
    <div class="col-md-3"> 
      <p>Id</p>
    </div>
  </div>
</div>{% endblock content %}
{% block right_panel %}
{% if request.user.is_authenticated %}
<div class="is-authenticated-block row">
  <div class="col-lg-2"><img src="https://avatars0.githubusercontent.com/u/31619203?s=40&amp;amp;v=4" alt="Logo" width="50" height="50" class="img-circle"/></div>
  <div class="col-lg-7">{% if request.user.is_superuser %}
    <h5 class="name">{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</h5>
    <p>Адміністратор</p>{% endif %}
  </div>
  <div class="col-lg-3"></div>
</div>{% else %}
<div class="signed-block row">
  <h5>Блок для входу, реєстрації тощо.</h5>
</div>{% endif %}
{% endblock right_panel %}