{% extends "base.html" %}
{% load static %}

{% block title %} {{page_name}} {% endblock %}

{% block content %}
h2 Test project for abz.agency

.container-workers
    .header.row
        for table_name in ["Img", "Name", "Work Position", "Chief"]
            .col-md-3 
                p #{table_name}


{% endblock content %}

{% block right_panel %}
h4 Its a right panel. Registration, signed or more.
{% endblock right_panel %}