{% extends "base.html" %}
{% load static %}

{% block title %} {{page_name}} {% endblock %}

{% block content %}
.about-project
    h2 Тестовий проект для abz.agency 
    .github-link
        i.fab.fa-github.fa-2x
        a(href="https://github.com/shudry/abz.agency.test") https://github.com/shudry/abz.agency.test
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est praesentium illum corporis dolor soluta non laudantium sequi modi commodi quo numquam, doloremque, tempora officia inventore repellat recusandae voluptatibus. Distinctio. 

.container-workers
    .header.row
        {% if request.user.is_authenticated %}
        .col-md-1
        .col-md-4
            p Name
        .col-md-2
            p Work Position
        .col-md-2
            p Wage
        .col-md-2
            p Date Join
        .col-md-1
            p Id
        {% else %}
        for table_name in ["", "Name", "Work Position", "Id"]
            .col-md-3 
                p #{table_name}
        {% endif %}


{% endblock content %}

{% block right_panel %}
{% if request.user.is_authenticated %}
.is-authenticated-block.row
    .col-lg-2.employee-image-admin
        i.fas.fa-user-tie.fa-2x
    .col-lg-7
        {% if request.user.is_superuser %}
        h5.name {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})
        p Адміністратор
        {% endif %}
    .col-lg-3.block-icon-logout
        a(href="/logout/")
            i.fas.fa-sign-out-alt.fa-2x

.form-group.right_panel_form
    label(for="search-name") Пошук за назвою ( name1 | name2 | ... )
    input(type="text", placeholder="Пошук").form-control#search-name
    select.custom-select
        option(selected) Сортувати ...
        option(value="1") За алфавітом
        option(value="2") Спочатку новіші
        option(value="3") Спочатку старіші
        option(value="4") Спочатку найбільша зарплата
        option(value="5") Спочатку найменша зарплата
{% else %}
.signed-block.row
    form(action="/login/", method="POST")
        {% csrf_token %}
        {% if error_login %}
        div(role="alert").alert.alert-danger {{ error_login }}
        {% endif %}
        .form-group
            label(for="login-field") Введіть логін:
            input(type="text", name="username").form-control#login-field
        .form-group
            label(for="password-field") Введіть пароль:
            input(type="password", name="password").form-control#password-field
        
        .row.justify-content-md-center
            .col-md-auto
                button(type="submit").btn.btn-default Відправити
{% endif %}
{% endblock right_panel %}