@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=cyrillic');

workers-header-bg = #2b3340
workers-content-bg = #4F586C
workers-border-color = #384354


.img-circle
    border-radius: 50%

.container-workers > .header
    background-color: workers-header-bg
    color: white
    
.container-workers > .employee
    background-color: workers-content-bg
    border-top: 1px solid workers-border-color
    
    img
        margin-top: 5px
        margin-bottom: 5px
        
    p
        margin-top: 5px
        color: white