@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=cyrillic');

workers-header-bg = #2b3340

//First hierarchy
first-workers-content-bg = #4F586C
first-workers-border-color = #384354

//Second hierarchy
second-workers-content-bg = #3E4555
second-workers-border-color = #384354


body
    background: #E8EAEF
    padding-bottom: 50px

    *
        font-family: 'Ubuntu', sans-serif

.about-project
    padding-bottom: 20px
    h2
        margin: 25px 0
    a
        color: #358
        text-decoration: underline
    a:hover
        color: #236
        text-decoration: none
        
    .github-link
        margin: 0 0 25px 50px
        display: inline-block;
        i
            padding-top: -8px
            padding-right: 10px
        a
            vertical-align: top


.employee-image
    //background-color: white
    //border-radius: 50%
    i
        padding-top: 10px;
        color: workers-header-bg
        //color: white
            
.employee-image-admin
    i
        padding-top: 15px
        padding-left: 10px
        color: white
        
//Warnings container in employee list
#not-found-employees-warning
    display: none

.container-workers
    > .header
        background-color: workers-header-bg
        color: white
        border-radius: 3px 3px 0 0
        
        p
            margin-top: 15px
        
    .employee    
        img
            margin-top: 5px
            margin-bottom: 5px
            
        p
            margin-top: 17px
            color: white
        
        .alert
            margin-top: 10px
            color: workers-header-bg

            .fa-exclamation
                color: #F70

    
    //First hierarchy
    > .employee:not(.load-more-empl)    
        > .row
            background-color: first-workers-content-bg
            border-top: 1px solid first-workers-border-color
        
        > div:nth-child(2) > div
            box-shadow: inset 0 7px 5px #333

        //Second hierarchy
        > .employee
            margin-left: 40px

            > .row
                background-color: second-workers-content-bg
                border-top: 1px solid second-workers-border-color
                
.employee-load-more-link, .signed-block button
    margin: 25px 0 25px 0
    background-color: workers-header-bg
    color: white
    border: none
    border-radius: 0px
    
    &:visited, &:link, &:active, &:focus
        color: white
        box-shadow: none
        border: none

    &:hover
        color: #888
        cursor: pointer
        background-color: second-workers-content-bg
        

.is-authenticated-block
    background-color: workers-header-bg
    padding: 10px 0 10px 0
    margin: 25px 0 25px 0
    border-radius: 3px

    img
        margin: 15px 0 15px 0

    p
        color: white
        font-size: 12px

    h5.name
        color: white
        margin-top: 12px
    
    .block-icon-logout
        padding-top: 15px
        i
            color: #C00
        i:hover
            color: #A00

.signed-block
    padding: 10px 0 10px 0
    margin: 25px 0 25px 10px
    
    form
        label
            margin-bottom: 0px
            padding-left: 5px
        button
            margin-top: 0
    
.right_panel_form.form-group
    padding-top: 25px

    label
        margin-bottom: 3px
        padding-left: 15px
        color: #666
        
    select
        margin-top: 10px
        
    #search-by-name-field, #search-by-work-position-field
        display: inline-block
        
    .width-input-append-spinner
        width: 90%
    
    i.fa-spin
        margin-left: 10px